<div class='panel panel-primary'>
	<div class='panel-heading'>
		Policies
	</div>
	<div class='panel-body'>
		<div *ngIf='!clientLoad'>
			<search-list [title]='searchTitle' (change)="criteriaChange($event)"></search-list>
		</div>
		<div class='table-responsive'>
			<div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
			<div *ngIf="policies && policies.length==0 && !indLoading" class="alert alert-info" role="alert">No record found!</div>
			<table class='table table-striped' *ngIf='policies && policies.length'>
				<thead>
					<tr>
						<th>Amount Insured</th>
						<th>Issuer Email</th>
						<th>Inception Date</th>
						<th>Installment Payment</th>
						<th *ngIf='!clientLoad'>Holder</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let policy of policies | policyFilter:listFilter | paginate: { id: 'policyPager', itemsPerPage: cantPerPage, currentPage: p }">
						<td style="text-align:right; width:130px; padding-right:20px"> {{policy.amountInsured | currency:USD:true:'1.2-2'}}</td>
						<td><a [href]="'mailto:' + policy.email">{{policy.email}}</a></td>
						<td>{{policy.inceptionDate | date: 'MMM dd yyyy HH:mm:ss' }}</td>
						<td><img *ngIf="policy.installmentPayment" src="../../images/Tick-mark-icon.png" style="width:20px; text-align:center" /></td>
						<td *ngIf='!clientLoad'>
							<button title="Client" class="btn btn-primary client-btn" (click)="viewClient(policy.clientId)">
								<span class="glyphicon glyphicon-user"></span>&nbsp;
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<ng-container *ngIf="policies.length > 8">
				<pagination-controls (pageChange)="p = $event" id="policyPager"></pagination-controls>
			</ng-container>
			<div>
			</div>
		</div>
		<div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{msg}}
		</div>
	</div>
</div>

<ng-container *ngIf="!clientLoad">
	<modal #modal>
		<modal-header [show-close]="true">
			<h4 class="modal-title">{{_client.name}} Detail</h4>
		</modal-header>
		<modal-body>
			<div class="table-responsive">
				<div class="col-md-5">
					<img [src]="_client.role == 'admin'?'../../images/admin.png':'../../images/user.png'" style="width:200px" />
				</div>
				<div class="col-md-7">
					<span>Id</span>
					<input type="text" class="form-control" readonly="readonly" placeholder="Id" value="{{_client.id}}">
				</div>
				<div class="col-md-7">
					<span>Email</span>
					<input type="text" class="form-control" readonly="readonly" placeholder="Email" value="{{_client.email}}">
				</div>
				<div class="col-md-5">
					<span>Role</span>
					<input type="text" class="form-control" readonly="readonly" placeholder="Role" value="{{_client.role}}">
				</div>
			</div>
		</modal-body>
		<modal-footer>
			<div>
				<a class="btn btn-default" (click)="modal.dismiss()">Close</a>
			</div>
		</modal-footer>
	</modal>
</ng-container>