<div class='panel panel-primary'>
	<div class='panel-heading'>
		Clients
	</div>
	<div class='panel-body'>
		<div>
			<search-list [title]='searchTitle' (change)="criteriaChange($event)"></search-list>
		</div>
		<div class='table-responsive'>
			<div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
			<div *ngIf='users && users.length==0 && !indLoading' class="alert alert-info" role="alert">No record found!</div>
			<table class='table table-striped' *ngIf='users && users.length'>
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Role</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of users | userFilter:listFilter | paginate: { id: 'userPager', itemsPerPage: 8, currentPage: x }">
						<td>{{user.name}}</td>
						<td>{{user.email}}</td>
						<td>{{user.role}}</td>
						<td>
							<button title="Policies" class="btn btn-primary rounded-control" (click)="viewDetail(user.id)">Policies</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<pagination-controls class="my-pagingControl" (pageChange)="x = $event" id="userPager"></pagination-controls>
			</div>
		</div>
		<div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{msg}}
		</div>
	</div>
</div>

<modal #modal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">Client Detail</h4>
	</modal-header>
	<modal-body>
		<div class="table-responsive">
			<div class="col-md-7">
				<span>Id</span>
				<input type="text" class="form-control" readonly="readonly" placeholder="Name" value="{{user.id}}">
			</div>
			<div class="col-md-5">
				<span>Name</span>
				<input type="text" class="form-control" readonly="readonly" placeholder="Name" value="{{user.name}}">
			</div>
			<div class="col-md-7">
				<span>Email</span>
				<input type="text" class="form-control" readonly="readonly" placeholder="Email" value="{{user.email}}">
			</div>
			<div class="col-md-5">
				<span>Role</span>
				<input type="text" class="form-control" readonly="readonly" placeholder="Role" value="{{user.role}}">
			</div>
		</div>
		<div style="margin-top:20px;margin-bottom:-20px">
			<policies [client]="user" [cantPerPage]="5"></policies>
		</div>
	</modal-body>
	<modal-footer>
		<div>
			<a class="btn btn-default" (click)="modal.dismiss()">Close</a>
		</div>
	</modal-footer>
</modal>
