<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Allotasoft Public Nuget Server" value="http://nexus.juniverse.com.ar/repository/nuget-group/" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>